<!-- update_status.html -->
{% extends "layout.html" %}
{% block content %}
<div align="center"><h3>List of projects and status:</h3>
<table border="1">
  <tr>
      <th>Project ID</th>
    <th>Project name</th>
    <th>Task</th>
    <th>Status</th>
      <th> Update</th>
  </tr>
{% for pid in projects %}
<tr>
    <td>
        {{pid[0]}}
    </td>
    <td>
        {{pid[1]}}
    </td>
    <td>
        {{pid[2]}}
    </td>
    <td>
         {{pid[3]}}
    </td>
    <td>
        <a href="update_db/{{pid[0]}}">Update status</a>
    </td>
</tr>
{% endfor %}
</table>
    <br>
<b><a href="/">Main page</a></b>
    </div>
{% endblock content %}